<div class="footer-padding"></div>
<div class="footer" id="scroll">
  <p class="foot"><strong>Contact Us</strong></p>
  <a href="https://www.linkedin.com/company/the-apollo-university/?trk=public_profile_experience-item_profile-section-card_image-click&originalSubdomain=in"><i class="fa-brands fa-linkedin fa-xl fa-fade"></i></a>
  <a href="https://x.com/ApolloUniv"><i class="fa-brands fa-twitter fa-xl fa-fade"></i></a>
  <a href="https://www.instagram.com/theapollouniversity_ap?igshid=Zjc2ZTc4Nzk%3D"><i class="fa-brands fa-instagram fa-xl fa-fade"></i></a>
</div>
<script src="https://kit.fontawesome.com/cb741c2c5b.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script>
  document.querySelectorAll('.navbar-nav .nav-link').forEach(function (link) {
    link.addEventListener('click', function () {
      const collapseElement = document.getElementById('navbarSupportedContent');
      const collapseInstance = bootstrap.Collapse.getInstance(collapseElement);
      if (collapseInstance) {
        collapseInstance.hide();
      }
    });
  });
  document.addEventListener('click',function(){
    const collapseElement = document.getElementById('navbarSupportedContent');
      const collapseInstance = bootstrap.Collapse.getInstance(collapseElement);
      if (collapseInstance) {
        collapseInstance.hide();
  }});
</script>
</body>
</html>